@model TutorRecord

@{
    ViewData["Title"] = "Login";
    Layout = "_TutorSignUpLayout";
}

<br />
<br />
<br />
<br />
<div class="row col-12 text-center align-content-center" style="margin:0 auto">
    <div class="col-2">

    </div>

    <div class="card text-white bg-transparent col-sm-8">
        <form method="post" asp-controller="Tutors" asp-action="TutorSignUp">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Email</label>
                    <input asp-for="Email" type="email" class="form-control" id="inputEmail4" placeholder="Email">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Password</label>
                    <input asp-for="Password" type="password" class="form-control" id="inputPassword4" placeholder="Password">
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="inputAddress">Username</label>
                <input asp-for="Username" type="text" class="form-control" id="inputAddress" placeholder="Username">
            </div>
            <div class="form-group col-md-6">
                <label for="inputAddress2">Matric Number</label>
                <input asp-for="MatricNumber" type="text" class="form-control" id="inputAddress2" placeholder="Matric number">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputCity">First Name</label>
                    <input asp-for="FirstName" type="text" class="form-control" id="FirstName">
                </div>
                <div class="form-group col-md-4">
                    <label for="Course">Course</label>
                    <select asp-for="Course" id="inputState" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                        <option value="Arts and Humanity">Arts & Humanity</option>
                        <option value="English">English Language and Literature</option>
                        <option value="Foreign Language">Foreigh Language</option>
                        <option value="History">History</option>
                        <option value="Mathematics">Mathematics</option>
                        <option value="Chemistry">Chemistry</option>
                        <option value="Physics">Physics</option>
                        <option value="Biology">Biology</option>
                        <option value="Computer Science">Computer Science</option>
                        <option value="Political Science">Political Science</option>
                        <option value="Accounting">Accounting</option>
                        <option value="Arts">Economics</option>
                        <option value="Statistics">Statistics</option>
                        <option value="Architecture">Architecture</option>
                        <option value="Biochemistry">Biochemistry</option>
                        <option value="Microbiology">Microbiology</option>
                        <option value="Estate Management">Estate Management</option>
                        <option value="Electrical Engineering">Electrical Engineering</option>
                        <option value="Mechanical Engineering">Mechanical Engineering</option>
                        <option value="Chemical Engineering">Chemical Engineering</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label for="inputZip">LastName</label>
                    <input asp-for="LastName" type="text" class="form-control" id="LastName">
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
    </div>


</div>