@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}

<br />
<br />
<br />
<div class="row col-12">

    <div class="col-sm-2"></div>
    <div class="card text-white bg-info col-sm-3" style="border-radius: 50px;">
        <img style="border-radius:1200px" src="~/img/students.jpg" />
        <div class="card-body">
            <h5 class="card-title text-center">Student Section</h5>
            <p class="card-text text-center">Login or Sign Up as a Student </p>
            <a href='@*@Url.Action("Index", "CPC")*@' class="btn btn-primary">Login</a>
            <a style="position:relative; left:150px" href='@*@Url.Action("Index", "CPC")*@' class="btn btn-primary">Sign Up</a>
        </div>
    </div>
    <div class="col-sm-2"></div>
    <div class="card text-white bg-secondary col-sm-3" style="border-radius: 50px;">
        <img style="border-radius:1200px" src="~/img/TutorChampion.jpg" />
        <div class="card-body">
            <h5 class="card-title text-center">Tutor Champion Section</h5>
            <p class="card-text text-center">Login or Sign Up as a Tutor </p>
            <a href='@*@Url.Action("CPCETBDesk", "CPC")*@' class="btn btn-primary">Login</a>
            <a style="position:relative; left:150px" href='@*@Url.Action("Index", "CPC")*@' class="btn btn-primary">Sign Up</a>
        </div>
    </div>
</div>