@model StudentsMeetTutors.Models.TutorRecord

@{
    Layout = "_SelectTutors";
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<div class="form-group justify-content-center" style="display:flex">
    <div class="col-md-4 ">
        <div>
            <h4 style="color:dimgrey; background-color:coral; text-align:center"> Welcome,  @Model.FirstName  @Model.LastName would be your Tutor in the next @Model.Course tutorial, based on your Learning Preference : "@Model.TeachingStyle", Your tutorial session will be at the Facaulty hall. Please be punctual </h4>
        </div>
    </div>
</div>
