@model StudentsMeetTutors.Requets.SelectStudentRequest

@{
    ViewData["Title"] = "SelectPreference";
    Layout = "_SelectTutors";
}



<hr />
<div class="row mx-auto">
    <h1 class="align-content-center" style="color: cadetblue; position: relative; left: 150px "> Kindly fill in your learning preference before you proceed </h1>
    <div class="col-md-4 align-content-center mx-auto">

        <form asp-action="SelectPreference">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Course" class="control-label"></label>
                @*<input asp-for="Course" class="form-control" />*@
                <select asp-for="Course" id="inputState" class="form-control">
                    <option selected>Choose...</option>
                    <option value="CSC 421">CSC 421</option>
                    <option value="CSC 425">CSC 425</option>
                    <option value="CSC 427">CSC 427</option>
                    <option value="CSC 423">CSC 423</option>
                    <option value="CSC 429">CSC 429</option>
                    <option value="CSC 431">CSC 431</option>
                </select>
                <span asp-validation-for="Course" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeachingStyle" class="control-label"></label>
                <select asp-for="TeachingStyle" id="inputState" class="form-control">
                    <option selected>Choose...</option>
                    <option value="Audio">Audio</option>
                    <option value="Video">Video</option>
                    <option value="Physical meeting">Physical meeting</option>
                </select>
                <span asp-validation-for="TeachingStyle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClassLength" class="control-label"></label>
                @*<input asp-for="ClassLength" class="form-control" />*@
                <select asp-for="ClassLength" id="inputState" class="form-control">
                    <option selected>Choose...</option>
                    <option value="0">0</option>
                    <option value="1-5">1-5</option>
                    <option value="5-10">5-10</option>
                    <option value="10-15">10-15</option>
                </select>
                <span asp-validation-for="ClassLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatienceLevel" class="control-label"></label>
                @*<input asp-for="PatienceLevel" class="form-control" />*@
                <select asp-for="PatienceLevel" id="inputState" class="form-control">
                    <option selected>Choose...</option>
                    <option value="Low">Low</option>
                    <option value="Medium">Medium</option>
                    <option value="High">High</option>
                </select>
                <span asp-validation-for="PatienceLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeachingLength" class="control-label"></label>
                @*<input asp-for="TeachingLength" class="form-control" />*@
                <select asp-for="TeachingLength" id="inputState" class="form-control">
                    <option selected>Choose...</option>
                    <option value="10-30 minutes">10-30 minutes</option>
                    <option value="30-60 minutes">30-60 minutes</option>
                    <option value="60+ minutes">60+ minutes</option>
                </select>
                <span asp-validation-for="TeachingLength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Time" class="control-label"></label>
                @*<input asp-for="Time" class="form-control" />*@
                <select asp-for="Time" id="inputState" class="form-control">
                    <option selected>Choose...</option>
                    <option value="Morning Tutorial">Morning Tutorial</option>
                    <option value="Evening Tutorial">Evening Tutorial</option>
                </select>
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                @*<input asp-for="Location" class="form-control" />*@
                <select asp-for="Location" id="inputState" class="form-control">
                    <option selected>Choose...</option>
                    <option value="Remote">Remote</option>
                    <option value="Class">Class</option>
                </select>
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Continue" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
