@model StudentRecord

@{
    ViewData["Title"] = "Login";
    Layout = "_StudentSignUpLayout";
}

<br />
<br />
<br />
<br />
<div class="row col-12 text-center align-content-center" style="margin:0 auto">
    <div class="col-2">

    </div>

    <div class="card text-white bg-transparent col-sm-8">
        <form method="post" asp-controller="Students" asp-action="StudentSignUp">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Email</label>
                    <input asp-for="Email" type="email" class="form-control" id="inputEmail4" placeholder="Email">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Password</label>
                    <input asp-for="Password" type="password" class="form-control" id="inputPassword4" placeholder="Password">
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="inputAddress">Username</label>
                <input asp-for="Username" type="text" class="form-control" id="inputAddress" placeholder="Username">
            </div>
            <div class="form-group col-md-6">
                <label for="inputAddress2">Matric Number</label>
                <input asp-for="MatricNumber" type="text" class="form-control" id="inputAddress2" placeholder="Matric number">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputCity">First Name</label>
                    <input asp-for="FirstName" type="text" class="form-control" id="FirstName" placeholder="First Name">
                </div>
                <div class="form-group col-md-4">
                    <label for="Course">Course</label>
                    <select asp-for="Course" id="inputState" class="form-control">
                        <option selected>Course</option>
                        <option>...</option>
                        <option value="CSC 421">CSC 421</option>
                        <option value="CSC 425">CSC 425</option>
                        <option value="CSC 427">CSC 427</option>
                        <option value="CSC 423">CSC 423</option>
                        <option value="CSC 429">CSC 429</option>
                        <option value="CSC 431">CSC 431</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label for="inputZip">LastName</label>
                    <input asp-for="LastName" type="text" class="form-control" id="LastName" placeholder="Last Name">
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="inputAddress2">Learning Style</label>
                <select asp-for="LearningStyle" id="LearningStyle" class="form-control">
                    <option selected>Learning Style ...</option>
                    <option value="Audio">Audio</option>
                    <option value="Video">Video</option>
                    <option value="Physical meeting">Physical meeting</option>
                </select>
            </div>




            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="ClassLength" class="control-label"></label>
                    <select asp-for="ClassLength" id="inputState" class="form-control">
                        <option selected>Class Length...</option>
                        @*<option value="0">0</option>*@
                        <option value="1-5">1-5</option>
                        <option value="5-10">5-10</option>
                        <option value="10-15">10-15</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="AssimilationRate" class="control-label"></label>
                    <select asp-for="AssimilationRate" id="inputState" class="form-control">
                        <option selected>Assimilation Rate...</option>
                        <option value="Low">Low</option>
                        <option value="Medium">Medium</option>
                        <option value="High">High</option>
                    </select>
                    <span asp-validation-for="AssimilationRate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="AttentionSpan" class="control-label"></label>
                <select asp-for="AttentionSpan" id="inputState" class="form-control">
                    <option selected>Attention Span... </option>
                    <option value="10-30 minutes">10-30 minutes</option>
                    <option value="30-60 minutes">30-60 minutes</option>
                    <option value="60+ minutes">60+ minutes</option>
                </select>
                <span asp-validation-for="AttentionSpan" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label for="inputAddress2">Time</label>
                <select asp-for="Time" id="inputState" class="form-control">
                    <option selected>Time...</option>
                    <option value="Morning Tutorial">Morning Tutorial</option>
                    <option value="Evening Tutorial">Evening Tutorial</option>
                </select>
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="">First Name</label>
                    <select asp-for="Location" id="inputState" class="form-control">
                        <option selected>Location...</option>
                        <option value="Remote">Remote</option>
                        <option value="Class">Class</option>
                    </select>
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Sign Up</button>
            <br />  
        </form>
    </div>


</div>