@model StudentsMeetTutors.Requets.LoginRequest

@{
    ViewData["Title"] = "Login";
    Layout = "_StudentLoginPage";
}
<br />
<br />
<br />
<br />
<br />
<br />
<div class="row col-12 text-center">

    <div class="col-sm-3">

    </div>
    <div class="card text-white bg-secondary col-sm-6" style="border-radius: 50px;">
        <br />
        <br />
        <form method="post" asp-controller="Students" asp-action="StudentLogin" class="">
            <br />
            <h3>Welcome</h3>
            <br />
            <div class="form-group">
                <input asp-for="Username" type="text" class="form-control" id="" aria-describedby="emailHelp" placeholder="Enter your Username">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <input asp-for="Password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            
            <br />
            <button type="submit" class="btn btn-primary">Submit</button>
            @Html.ValidationMessage("Error")
            <br />
            @*TempData.Keep("Message");*@
            <br />
            <br />
        </form>
    </div>
</div>

