@model StudentRecord

@{
    ViewData["Title"] = "Login";
    Layout = "_StudentSignUpLayout";
}

<br />
<br />
<br />
<br />
<div class="row col-12 text-center align-content-center" style="margin:0 auto">
    <div class="col-2">

    </div>

    <div class="card text-white bg-transparent col-sm-8">
        <form method="post" asp-controller="Students" asp-action="StudentSignUp">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Email</label>
                    <input asp-for="Email" type="email" class="form-control" id="inputEmail4" placeholder="Email">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputPassword4">Password</label>
                    <input asp-for="Password" type="password" class="form-control" id="inputPassword4" placeholder="Password">
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="inputAddress">Username</label>
                <input asp-for="Username" type="text" class="form-control" id="inputAddress" placeholder="Username">
            </div>
            <div class="form-group col-md-6">
                <label for="inputAddress2">Matric Number</label>
                <input asp-for="MatricNumber" type="text" class="form-control" id="inputAddress2" placeholder="Matric number">
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputCity">First Name</label>
                    <input asp-for="FirstName" type="text" class="form-control" id="FirstName">
                </div>
                <div class="form-group col-md-4">
                    <label for="Course">Course</label>
                    <select asp-for="Course" id="inputState" class="form-control">
                        <option selected>Choose...</option>
                        <option>...</option>
                        <option value="CSC 421">CSC 421</option>
                        <option value="CSC 425">CSC 425</option>
                        <option value="CSC 427">CSC 427</option>
                        <option value="CSC 423">CSC 423</option>
                        <option value="CSC 429">CSC 429</option>
                        <option value="CSC 431">CSC 431</option>


                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label for="inputZip">LastName</label>
                    <input asp-for="LastName" type="text" class="form-control" id="LastName">
                </div>
            </div>
            
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
    </div>


</div>